<h1 class="center" style="color: white">Listing Possible Arsene Wenger Replacements</h1>
<img src="https://www.telegraph.co.uk/content/dam/football/2017/03/20/JS123808031_PA_Arsene-Wenger-File-Photo_trans_NvBQzQNjv4BqXZ2jEgyBj9XFFmv3X1XdDMVTRQP8z34z_-y55ik125I.jpg?imwidth=1400" style="width: 480px; height: 300px; padding: 3px; margin-left: 350px;" />
<br  />
<div class="center" style="color: white">
  <div class="btn-flat"><%= link_to 'Click Here', replacements_path %> to take a look at the candidates.
  </div>
</div>
