<nav>
  <div class="nav-wrapper red darken-4" style="font-family: ff-meta-web-pro;">
    <img src="http://1000logos.net/wp-content/uploads/2016/10/Arsenal-Logo.png"
    class="left" style="width: 150px; height: 75px;">
    <%= link_to 'Home', root_path %>
    <ul class="left"><%= link_to 'About', about_path %></ul>
    <ul class="right"><%= link_to 'Candidates', replacements_path %></ul>
  </div>
</nav>
